@import "../template-variables";

@media (min-width: $tmpl-screen-xs) {

}

@media (min-width: 480px) {

  // More works slider
  .works-slider-controls .slick-slide {
    opacity: 1;
    transition: none;
  }

}


@media (min-width: $tmpl-screen-sm) {

  .user-redactor-content {
    margin: 0 0 43px 0;
  }

  .calc-form-wrap {
    margin: 0 0 65px 0;
  }

  .calc-form-item {
    padding: 36px 62px 19px;
  }

  .calc-form-item__auto-settings-selects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form-select-wrap {
    width: 275px;
  }

  // Auto elements section (sm)

  .calc-form-item__form-auto-elements {
    justify-content: space-between;
  }

  .calc-form-item_view_auto-elements {

    padding: 30px 62px 10px;

    .calc-form-item__title {
      margin: 0 0 23px 0;
    }

  }

  .form-auto-elements-item {
    width: 102px;
    flex-wrap: wrap;
  }

  .form-auto-elements-item__img-wrap {
    margin: 0 0 26px 0;
  }

  .form-auto-elements-item_content_counter {
    order: 7 !important;
    width: 100%;
    padding: 39px 7px 0 0;
    margin: 0 0 30px 0;
  }

  .form-input-counter {
    width: 126px;
    margin: -9px 0 0 22px;
  }

  .form-door-counter-text {
    width: auto;

    br {
      display: none;
    }

  }

  .form-checkbox-label-wrap {
    width: 100%;
  }

  .form-auto-elements-item__data {

    flex-wrap: wrap;

    .form-checkbox {
      margin: 0 12px 12px 0;
    }

  }

  // Sound insulation level (sm)

  .calc-form-item_view_sound-insulation-level {
    padding-top: 37px;
    padding-bottom: 0;

    .calc-form-item__title>br {
      display: none;
    }

  }

  .calc-form-item__title-link {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    padding-left: 27px;
  }

  .calc-form-item_view_sound-insulation-level .calc-form-item__title {
    margin-bottom: 9px;
  }

  .sound-insulation-item {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 24px;
    margin-bottom: 27px;
  }

  .sound-insulation-item:last-child {

    margin-bottom: 19px;

    .sound-insulation-item__label {
      margin-right: 43px;
    }

  }

  .sound-insulation-item_checked {
    padding-bottom: 8px;
    margin-bottom: 20px;
  }

  .sound-insulation-item__button {
    width: 40%;
  }

  .sound-insulation-item__content {
    width: 60%;
    padding: 4px 0 0 0;
  }

  // 'Include in calc' section (sm)

  .calc-form-item_view_include-in-calc {
    padding: 38px 63px 50px;
    margin: 0 0 49px 0;
  }

  .calc-form-item__include-in-calc-item {
    width: auto;
    margin-bottom: 29px;

    br {
      display: none;
    }

  }

  .calc-form-item__include-in-calc {
    margin-bottom: 22px;
  }

  .calc-form-item__include-in-calc-item:first-child {
    margin-right: 100px;
  }

  .calc-form-item__include-in-calc-item label {
    padding-top: 6px;
    line-height: normal;
    margin: 0;
  }

  .button_location_include-in-calc {
    width: 346px;
  }

  // Calc result block (sm)

  .calc-result__title {
    font-size: 20px;
    margin-bottom: 28px;
  }

  .calc-result-table__item_view_sound-insulation {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .calc-result-table__item-label {
    padding-left: 0;
  }

  .calc-result-table__item_view_material-cost .calc-result-table__item-value {
    padding-top: 0;
    padding-left: 3px;
  }

  .calc-result-table__item_view_material-cost {
    padding-top: 17px;
    padding-bottom: 19px;
  }

  .calc-result-table__item_view_material-service-cost {
    padding-bottom: 18px;
  }

  .calc-result-submit__button {
    min-width: 350px;
  }

  // Form submit block (sm)

  .calc-result-submit {
    padding: 30px 0 36px 0;
  }

  .calc-result-submit__button span {
    display: inline;
  }

  // Form promo (sm)

  .calc-result-promo {
    padding-bottom: 44px;
  }

  .calc-result-promo__content {
    max-width: 618px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .calc-result-promo-item {
    width: 200px;
    min-height: 200px;
    padding: 110px 0 0 34px;
    flex-wrap: wrap;
  }

  .calc-result-promo-item__img-wrap {
    width: 100%;
    height: 79px;
    justify-content: flex-start;
    padding: 43px 0 0 30px;
  }

  .calc-result-promo-item__text-wrap,
  .calc-result-promo-item_one-day .calc-result-promo-item__text-wrap,
  .calc-result-promo-item_guaranty .calc-result-promo-item__text-wrap {
    padding-top: 0;
  }

  // Calc table drop-down button (sm)

  .calc-drop-down-btn {
    position: absolute;
    top: -7px;
    right: 0;
  }

  // More works slider (sm)

  .works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    width: 660px;
  }

  .works-item {
    display: none;
    width: 200px;
    box-shadow: none;
    outline: none;

    &:focus, &:active {
      box-shadow: none;
      outline: none;
    }
  }

  .works-item:nth-child(1),
  .works-item:nth-child(2),
  .works-item:nth-child(3) {
    display: block;
  }

  .works-item__inner {
    width: 100%;
  }

  .works-item__img-wrap {
    margin-bottom: 10px;
  }

  .works-item__car-title {
    margin-bottom: 16px;
  }

  // bottom-page-info (sm)

  .bottom-page-info {
    margin-bottom: 65px;
  }

  .bottom-page-info__text {
    line-height: 22px;
  }

  .bottom-page-info__button {
    min-width: 180px;
  }

}

@media (min-width: $tmpl-screen-md) {

  .calc-form-wrap {
    margin: 0 0 62px 0;
  }

  .user-redactor-content {
    margin: 0 0 63px 0;
  }

  .calc-form-item {
    padding: 36px 0 29px;
  }

  .calc-form-item__auto-settings-selects {
    padding-top: 16px;
  }

  .form-select-wrap {
    width: 285px;
  }

  .calc-form-item__title {
    font-size: 17px;
    margin: 0 0 17px 0;
    padding: 25px 0 0 37px;
    line-height: 23px;
  }

  // Auto elements section (md)

  .calc-form-item_view_auto-elements {
    padding-bottom: 0;
  }

  .calc-form-item_view_auto-elements .calc-form-item__title {
    margin: 0 0 23px 0;
    padding: 2px 5px 0 37px;
  }

  .calc-form-item__form-auto-elements {
    padding-top: 7px;
  }

  .form-auto-elements-item__img-wrap {
    margin: 0 0 28px 0;
  }

  .form-auto-elements-item_content_counter {
    padding: 32px 7px 0 0;
    margin: 0 0 30px 0;
  }

  .form-input-counter {
    margin: -10px 0 0 29px;
    width: 100px;
  }

  .form-input-counter__decrement,
  .form-input-counter__increment {
    width: 25px;
    height: 25px;
  }

  // Sound insulation level (md)

  .calc-form-item_view_sound-insulation-level {
    padding-top: 37px;
    padding-bottom: 0;
  }

  .calc-form-item_view_sound-insulation-level .calc-form-item__title {
    padding-top: 0;
  }

  .calc-form-item__title-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 0;
    margin-top: 8px;
  }

  .sound-insulation {
    padding-top: 8px;
  }

  .sound-insulation-item {
    padding-bottom: 19px;
    margin-bottom: 22px;
  }

  .sound-insulation-item:last-child {
    margin-bottom: 21px;
  }

  .sound-insulation-item:last-child .sound-insulation-item__label {
    margin-right: 13px;
  }

  .sound-insulation-item_checked {
    padding-bottom: 3px;
    margin-bottom: 20px;
  }

  .sound-insulation-item__button {
    width: 38%;
  }

  .sound-insulation-item__content {
    width: 62%;
    padding: 0;
  }

  // 'Include in calc' section (md)

  .calc-form-item_view_include-in-calc {
    padding-bottom: 55px;
    margin-bottom: 69px;
  }

  .calc-form-item_view_include-in-calc .calc-form-item__title {
    padding: 4px 0 0 42px;

    br {
      display: block;
    }
  }

  .calc-form-item__include-in-calc {
    margin-bottom: 17px;
    padding-top: 10px;
  }

  .calc-form-item__include-in-calc-item:first-child {
    margin-right: 55px;
  }

  .button_location_include-in-calc {
    float: left;
    margin-left: 76px;
    width: 300px;
  }

  .calc-result-table__item_view_material-cost {
    padding-bottom: 16px;
  }

  // Calc result block (md)

  .calc-result__title {
    font-size: 25px;
    margin-bottom: 38px;
  }

  .calc-result-table__item_view_material-cost .calc-result-table__item-value .text_style_benefits,
  .calc-result-table__item_view_material-service-cost .calc-result-table__item-value .text_style_benefits {
    font-size: 18px;
  }

  .calc-result-table__item_view_material-service-cost .calc-result-table__item-label br {
    display: block;
  }

  // Form submit block (md)

  .calc-result-submit__button {
    min-width: 300px;
  }

  .calc-result-submit {
    padding: 34px 0 36px 0;
  }

  // Form promo (md)

  .calc-result-promo {
    padding-bottom: 40px;
  }

  .calc-result-promo__content {
    max-width: 750px;
  }

  .calc-result-promo-item {
    width: 242px;
    min-height: 120px;
    padding: 33px 0 0 86px;
    display: block;
  }

  .calc-result-promo-item_guaranty {
    padding: 42px 0 0 83px;
  }

  .calc-result-promo-item__img-wrap {
    position: absolute;
    width: 80%;
    padding: 42px 0 0 12px;
  }

  // Calc table drop-down button (md)

  .calc-drop-down-btn {
    top: -8px;
    right: -3px;
  }

  // More works slider (md)

  .works {
    width: 100%;
    margin-bottom: 30px;
  }

  .works-item:nth-child(4) {
    display: block;
  }

  .works-item__img-wrap {
    margin-bottom: 24px;
  }

  .works-item__noise-insulation-level {
    margin-bottom: 15px;
  }

  // bottom-page-info (md)

  .bottom-page-info {
    margin-bottom: 65px;
  }

  .bottom-page-info__text {
    line-height: 24px;
    font-size: 15px;
  }

  .bottom-page-info__button {
    min-width: 180px;
    float: right;
  }

}

@media (min-width: $tmpl-screen-lg) {

  .user-redactor-content {
    margin: 0 0 40px 0;
  }

  .form-select-wrap {
    width: 345px;
  }

  .calc-form-item__title {
    padding: 25px 0 0 0;
  }

  // Auto elements section (lg)

  .calc-form-item_view_auto-elements .calc-form-item__title {
    margin: 0 0 23px 0;
    padding: 2px 5px 0 0;
  }

  .calc-form-item_view_auto-elements {
    padding-bottom: 0;
  }

  // Sound insulation level (lg)

  .sound-insulation {
    padding-top: 10px;
  }

  .sound-insulation-item {
    padding-bottom: 25px;
    margin-bottom: 22px;
  }

  .sound-insulation-item_checked {
    padding-bottom: 5px;
    margin-bottom: 22px;
  }

  // 'Include in calc' section (lg)

  .calc-form-wrap {
    margin: 0 0 75px 0;
  }

  .calc-form-item_view_include-in-calc {
    padding-bottom: 62px;
    margin-bottom: 64px;
  }

  .calc-form-item_view_include-in-calc .calc-form-item__title {
    padding: 4px 0 0 3px;
  }

  .calc-form-item__include-in-calc-item:first-child {
    margin-right: 122px;
  }

  .calc-form-item__include-in-calc {
    margin-bottom: 22px;
  }

  .button_location_include-in-calc {
    float: left;
    margin-left: 95px;
    width: 365px;
  }

  // Calc result block (lg)

  .calc-result__title {
    font-size: 31px;
    margin-bottom: 35px;
  }

  .calc-result-table__item {
    padding: 13px 0;
  }

  .calc-result-table__item_view_material-cost {
    padding-bottom: 16px;
  }

  .calc-result-table__item_view_material-cost .calc-result-table__item-value {
    padding-top: 4px;
    padding-left: 3px;
  }

  .calc-result-table__item_view_material-cost .calc-result-table__item-value .text_style_benefits,
  .calc-result-table__item_view_material-service-cost .calc-result-table__item-value .text_style_benefits {
    font-size: 18px;
  }

  .calc-result-table__item_view_material-service-cost {
    padding-top: 10px;
    padding-bottom: 16px;
  }

  // Form submit block (lg)

  .calc-result-submit {
    padding: 34px 0 44px 0;
  }

  .calc-result-submit__button {
    min-width: 365px;
  }

  // Form promo (lg)

  .calc-result-promo__content {
    max-width: 916px;
  }

  .calc-result-promo-item {
    width: 295px;
    min-height: 120px;
    padding: 34px 0 0 111px;
  }

  .calc-result-promo-item__img-wrap {
    padding: 42px 0 0 27px;
  }

  .calc-result-promo-item_guaranty {
    padding: 41px 0 0 111px;
  }

  // Calc table drop-down button (lg)

  .calc-drop-down-btn {
    top: -6px;
    right: -3px;
  }

  // More works slider (lg)

  .works {
    margin-bottom: 48px;
  }

  .works-item__img-wrap {
    margin-bottom: 38px;
  }

  // bottom-page-info (lg)

  .bottom-page-info {
    margin-bottom: 92px;
  }

  .bottom-page-info__text {
    line-height: 24px;
    font-size: 14px;
  }

  .bottom-page-info__button {
    min-width: 180px;
    float: right;
  }

}

@media (min-width: $tmpl-screen-xl) {
  .form-select-wrap {
    width: 385px;
  }

  // 'Include in calc' section (xl)

  .calc-form-wrap {
    margin: 0 0 80px 0;
  }

  .calc-form-item__include-in-calc-item:first-child {
    margin-right: 157px;
  }

  .button_location_include-in-calc {
    margin-left: 72px;
  }

  .calc-form-item_view_include-in-calc {
    margin-bottom: 53px;
  }

  .calc-result-submit__button {
    min-width: 400px;
  }

  .calc-result-promo__content {
    max-width: 1000px;
  }

  .calc-result-promo-item {
    width: 326px;
  }

}