@import "../template-variables";

@media (min-width: $tmpl-screen-xs) {

}

@media (min-width: $tmpl-screen-sm) {

  .user-redactor-content {
    margin: 0 0 43px 0;
  }

  .calc-form-item {
    padding: 36px 62px 19px;
  }

  .calc-form-item__auto-settings-selects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form-select-wrap {
    width: 275px;
  }

  // Auto elements section

  .calc-form-item__form-auto-elements {
    justify-content: space-between;
  }

  .calc-form-item_view_auto-elements {

    padding: 30px 62px 10px;

    .calc-form-item__title {
      margin: 0 0 23px 0;
    }

  }

  .form-auto-elements-item {
    width: 102px;
    flex-wrap: wrap;
  }

  .form-auto-elements-item__img-wrap {
    margin: 0 0 26px 0;
  }

  .form-auto-elements-item_content_counter {
    order: 7 !important;
    width: 100%;
    padding: 39px 7px 0 0;
    margin: 0 0 30px 0;
  }

  .form-input-counter {
    width: 126px;
    margin: -9px 0 0 22px;
  }

  .form-door-counter-text {
    width: auto;

    br {
      display: none;
    }

  }

  .form-checkbox-label-wrap {
    width: 100%;
  }

  .form-auto-elements-item__data {

    flex-wrap: wrap;

    .form-checkbox {
      margin: 0 12px 12px 0;
    }

  }

  // Sound insulation level

  .calc-form-item_view_sound-insulation-level {
    padding-top: 37px;
    padding-bottom: 0;

    .calc-form-item__title>br {
      display: none;
    }

  }

  .calc-form-item__title-link {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    padding-left: 27px;
  }

  .calc-form-item_view_sound-insulation-level .calc-form-item__title {
    margin-bottom: 9px;
  }

  .sound-insulation-item {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 24px;
    margin-bottom: 27px;
  }

  .sound-insulation-item:last-child {

    margin-bottom: 19px;

    .sound-insulation-item__label {
      margin-right: 43px;
    }

  }

  .sound-insulation-item_checked {
    padding-bottom: 8px;
    margin-bottom: 20px;
  }

  .sound-insulation-item__button {
    width: 40%;
  }

  .sound-insulation-item__content {
    width: 60%;
    padding: 4px 0 0 0;
  }

}

@media (min-width: $tmpl-screen-md) {

  .user-redactor-content {
    margin: 0 0 63px 0;
  }

  .calc-form-item {
    padding: 36px 0 29px;
  }

  .calc-form-item__auto-settings-selects {
    padding-top: 16px;
  }

  .form-select-wrap {
    width: 285px;
  }

  .calc-form-item__title {
    font-size: 17px;
    margin: 0 0 17px 0;
    padding: 25px 0 0 37px;
    line-height: 23px;
  }

  // Auto elements section

  .calc-form-item_view_auto-elements {
    padding-bottom: 0;
  }

  .calc-form-item_view_auto-elements .calc-form-item__title {
    margin: 0 0 23px 0;
    padding: 2px 5px 0 37px;
  }

  .calc-form-item__form-auto-elements {
    padding-top: 7px;
  }

  .form-auto-elements-item__img-wrap {
    margin: 0 0 28px 0;
  }

  .form-auto-elements-item_content_counter {
    padding: 32px 7px 0 0;
    margin: 0 0 30px 0;
  }

  .form-input-counter {
    margin: -10px 0 0 29px;
    width: 100px;
  }

  .form-input-counter__decrement,
  .form-input-counter__increment {
    width: 25px;
    height: 25px;
  }

  // Sound insulation level

  .calc-form-item_view_sound-insulation-level {
    padding-top: 37px;
    padding-bottom: 0;
  }

  .calc-form-item_view_sound-insulation-level .calc-form-item__title {
    padding-top: 0;
  }

  .calc-form-item__title-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 0;
    margin-top: 8px;
  }

  .sound-insulation {
    padding-top: 8px;
  }

  .sound-insulation-item {
    padding-bottom: 19px;
    margin-bottom: 22px;
  }

  .sound-insulation-item:last-child {
    margin-bottom: 21px;
  }

  .sound-insulation-item:last-child .sound-insulation-item__label {
    margin-right: 13px;
  }

  .sound-insulation-item_checked {
    padding-bottom: 3px;
    margin-bottom: 20px;
  }

  .sound-insulation-item__button {
    width: 38%;
  }

  .sound-insulation-item__content {
    width: 62%;
    padding: 0;
  }

}

@media (min-width: $tmpl-screen-lg) {

  .user-redactor-content {
    margin: 0 0 40px 0;
  }

  .form-select-wrap {
    width: 345px;
  }

  .calc-form-item__title {
    padding: 25px 0 0 0;
  }

  // Auto elements section

  .calc-form-item_view_auto-elements .calc-form-item__title {
    margin: 0 0 23px 0;
    padding: 2px 5px 0 0;
  }

  .calc-form-item_view_auto-elements {
    padding-bottom: 0;
  }

  // Sound insulation level

  .sound-insulation {
    padding-top: 10px;
  }

  .sound-insulation-item {
    padding-bottom: 25px;
    margin-bottom: 22px;
  }

  .sound-insulation-item_checked {
    padding-bottom: 5px;
    margin-bottom: 22px;
  }

}

@media (min-width: $tmpl-screen-xl) {
  .form-select-wrap {
    width: 385px;
  }
}