@import "../template-variables";




@media (min-width: $tmpl-screen-xs) {

  .header-contact-info__phone {
    font-size: 13px;
  }

}

@media (min-width: $tmpl-screen-sm) {

  header {
    margin: 0 0 50px 0;
    padding: 18px 0 0 0;
  }

  .header-top-line {
    margin: 0 0 20px 0;
  }

  .header-info-line {
    background-color: white;
    height: auto;
    padding: 0;
  }

  .header-info-line__mobile-item {
    height: auto;
  }

  .header-logo-link__img {
    width: auto;
  }

  .header-logo-link {
    display: block;
    text-align: left;
  }

  // Search form

  .top-search-form {
    width: 100%;
    height: 50px;
    padding-left: 60px;
    padding-right: 60px;
    top: 0;
    left: 0;
  }

  // Breadcrumbs

  .breadcrumbs__link:after {
    margin: 0;
  }

}

@media (min-width: $tmpl-screen-md) {

  header {
    margin: 0 0 46px 0;
  }

  .header-slogan {
    padding: 0;
    font-size: 11px;

    br {
      display: none;
    }
  }

  // Main menu
  .header-menu-line {
    padding: 0 80px;
  }

  .header-main-menu>li>a {
    font-size: 10px;
  }

  // Search form

  .top-search-form {
    padding-left: 75px;
    padding-right: 75px;
  }

}

@media (min-width: $tmpl-screen-lg) {

  header {
    padding: 27px 0 0 0;
    margin: 0 0 68px 0;
  }

  .header-top-menu>li>a {
    font-size: 14px;
    padding: 8px 22px;
  }

  .header-contact-info__phone {
    font-size: 17px;
  }

  .header-contact-info-work-days {
    line-height: 19px;
  }

  .header-slogan {
    font-size: 13px;
  }

  .header-info-line {
    margin: 0 0 33px 0;
  }

  // Main menu
  .header-menu-line {
    padding: 0 107px;
  }

  .header-main-menu>li>a {
    font-size: 12px;
  }

  // Search form

  .top-search-form {
    padding-left: 92px;
    padding-right: 92px;
  }

}

@media (min-width: $tmpl-screen-xl) {
  .header-menu-line {
    padding: 0 160px;
  }

  // Search form

  .top-search-form {
    padding-left: 100px;
    padding-right: 100px;
  }
}






















