@import "template-variables";

.calc-form-wrap {
  margin: 0 0 58px 0;
}

.calc-form-item {
  display: block;
  width: 100%;
  background-color: $plank-color-three;
  padding: 27px 20px 21px 20px;
  margin: 0 0 5px 0;
}

.calc-form-item_view_auto-elements {
  padding: 26px 20px 34px 20px;
}

.calc-form-item__title {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $main-text-color;
  margin: 0 0 17px 0;
}

// Select

.form-select-wrap {
  display: block;
  width: 100%;
  margin: 0 0 18px 0;
}

.form-select {
  display: block;
  width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
  @include reset_external_shadows;
}


.form-select_view_custom {

  width: 100% !important;

  & * {
    @include reset_external_shadows;
    &:focus {
      @include reset_external_shadows;
    }
  }

  .btn.dropdown-toggle {
    display: block;
    width: 100%;
    border: 3px solid $plank-color-four;
    border-radius: 0;
    background: white;
    padding: 14px 40px 14px 15px;
    font: 14px Arial, sans-serif;
    color: $main-text-color !important;
    text-shadow: none;
    height: auto;

    &:active {
      display: block;
      width: 100%;
      border: 3px solid $plank-color-four;
      border-radius: 0;
      background: white;
      font: 14px Arial, sans-serif;
      color: $main-text-color !important;
      text-shadow: none;
      height: auto;
    }
  }

  .dropdown-toggle .filter-option {
    text-overflow: ellipsis;
  }

  .bootstrap-select>.dropdown-toggle.bs-placeholder,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:active {
    font: 14px Arial, sans-serif;
    color: $main-text-color;
  }

  .dropdown-menu.inner {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    right: 15px;
    top: 50%;
    margin: -3px 0 0 0;
    background-image: url("../img/select-caret.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-width: 0;
  }

  .dropdown-menu.open {
    border-radius: 0;
  }

  .nicescroll-cursors {
    width: 5px !important;
    background-color: #007bff !important;
    border-radius: 0 !important;
  }

  .dropdown-menu a.dropdown-item span.dropdown-item-inner {
    font: 14px Arial, sans-serif;
  }

}

// END Select

// Form auto elements

.calc-form-item__form-auto-elements {
  display: flex;
  flex-wrap: wrap;
}

.form-auto-elements-item {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 8px 0;
}

.form-auto-elements-item_content_counter {
  padding: 8px 7px 0 0;
  margin: 0 0 30px 0;
}

.form-auto-elements-item:nth-child(1) {
  order: 1;
}

.form-auto-elements-item:nth-child(2) {
  order: 2;
}

.form-auto-elements-item:nth-child(3) {
  order: 3;
}

.form-auto-elements-item:nth-child(4) {
  order: 4;
}

.form-auto-elements-item:nth-child(5) {
  order: 5;
}

.form-auto-elements-item:nth-child(6) {
  order: 6;
}

.form-auto-elements-item__img-wrap {
  width: 102px;
  height: 102px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $plank-color-six;
  cursor: pointer;
  margin: 0 24px 0 0;
  background-color: transparent;
}

.form-auto-elements-item__img-wrap_active {
  background-color: $plank-color-four;
}

.form-auto-elements-item__img {
  max-width: 80px;
}

.form-auto-elements-item__data-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-auto-elements-item__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

// form checkbox

.form-checkbox {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin: 0 12px 0 0;
}

.js-form-checkbox__input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.form-checkbox__state {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid $plank-color-four;
  align-items: center;
  justify-content: center;
}

.form-checkbox__state-ico {
  display: block;
  width: 12px;
  height: 10px;
  background-image: url("../img/checkbox-on-icon.png");
  background-size: 100% 100%;
  visibility: hidden;
}

.js-form-checkbox__input:checked + .form-checkbox__state {
  background-color: $plank-color-four;

  .form-checkbox__state-ico {
    visibility: visible;
  }
}

.form-checkbox-label {
  display: inline-block;
  vertical-align: top;
  margin: 5px 11px 5px 0;
  cursor: pointer;
}

// tooltip-button (bootstrap popover)

.tooltip-button {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  min-width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0;
  padding: 6px 0 0 1px;
  border-radius: 50%;
  border: 1px solid $plank-color-five;
  background-color: $plank-color-three;
  text-align: center;
}

.tooltip-button:focus, .tooltip-button:active {
  box-shadow: none;
  outline: none;
}

.tooltip-button__ico {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 11px;
  background-image: url("../img/question-icon.png");
  background-size: 100% 100%;
}

.popover {
  background-color: $plank-color-five;
  font-family: Arial, sans-serif;
  border-radius: 0;
}

.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after,
.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^="top"] .arrow::before {
  bottom: 3px;
  border-top-color: $plank-color-five;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before{
  top: 3px;
  border-bottom-color: $plank-color-five;
}

.popover-body {
  padding: 13px 14px;
  color: white;
  font-size: 13px;
}

// form-input-counter

.form-door-counter-text {
  width: 150px;
}

.form-input-counter {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  width: 138px;
  height: 40px;
  position: relative;
  margin: 7px 0 0 0;
}

.form-input-counter__decrement,
.form-input-counter__increment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $plank-color-four;
  position: relative;
  z-index: 2;

  .form-input-counter__ico {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10px;
    height: 10px;
  }

  .form-input-counter__ico-item {
    display: block;
    width: 10px;
    height: 2px;
    background-color: $lighten-text-color;
  }

  &:hover {
    background-color: $plank-color-four;

    .form-input-counter__ico-item {
      background-color: white;
    }
  }

}

.form-input-counter__increment .form-input-counter__ico-item:last-child {
  position: absolute;
  transform: rotate(90deg);
  left: 0;
  top: 4px;
}





.form-input-counter__input-label {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  margin: 0 auto;
}

.form-input-counter__input {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $main-text-color;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border-width: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

// Sound insulation level

.calc-form-item_view_sound-insulation-level {
  padding-top: 29px;
  padding-bottom: 0;
}

.sound-insulation-item {
  border-bottom: 1px solid $plank-color-six;
  padding: 0 0 26px 0;
  margin: 0 0 23px 0;
}

.sound-insulation-item:last-child {
  border-width: 0;
  margin-bottom: 12px;
}

.sound-insulation-item_checked {
  padding-bottom: 2px;
}

.sound-insulation-item_checked:last-child {
  padding-bottom: 26px;
}



.calc-form-item__title-link {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #B28500;
  display: block;
  width: 100%;
  margin: 3px 0 30px 0;
  padding-left: 15px
}

.sound-insulation-item__label {
  cursor: pointer;
  text-transform: uppercase;
  @include text_style_additional;
  margin: 0 13px 0 0;
}

// Horizontal indicator

.horizontal-indicator {
  width: 100%;
  height: 4px;
  background-color: $plank-color-six;
  position: relative;
}

.horizontal-indicator__progress {
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  background-color: $plank-color-one;
}

.horizontal-indicator__progress:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $plank-color-one;
  border-radius: 50%;
  right: -1px;
  top: -4px;
  border: 2px solid rgba(255,255,255,0.9);
}

.indicator-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.sound-insulation-item__content {
  padding: 42px 0 0 0;
}

.indicator-item__label,
.indicator-item__value {
  padding: 0 0 4px 0;
}

.indicator-item__label {
  @include text_style_additional-two;
}

.indicator-item__value {
  @include text_style_additional-two;
  color: $main-text-color;
}

// 'Include in calc' section

.calc-form-item__include-in-calc-item {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 29px;
}

.calc-form-item__include-in-calc-item label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 13px;
  margin-top: 1px;
}

.button_location_include-in-calc {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  width: 200px;
}

.calc-form-item_view_include-in-calc {
  padding: 31px 20px 44px 20px;
  margin: 0 0 39px 0;
}

.calc-form-item__include-in-calc {
  margin-bottom: 12px;
}

.calc-form-item_view_include-in-calc .calc-form-item__title {
  margin-bottom: 24px;
}

.calc-form-item_view_include-in-calc .calc-form-item__title br {
  display: none;
}

// Calc result block

.calc-result__title {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Light";
  margin-bottom: 26px;
}

.calc-result-table {
  border: 1px solid $plank-color-two;
}

.calc-result-table__item {
  display: block;
  width: 100%;
  border-bottom: 1px solid $plank-color-two;
  text-align: left;
  padding: 8px 0;

  &:last-child {
    border-width: 0;
  }
}

.calc-result-table__item_colored {
  background-color: $plank-color-three;
}

.calc-result-table__item-label {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  @include text_style_additional-two;
}

.calc-result-table__item-value {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  @include text_style_additional;
}

.calc-result-table__item_view_sound-insulation {

  padding-top: 0;
  padding-bottom: 6px;

  .calc-result-table__item-label {
    line-height: 14px;
  }

  .calc-result-table__item-value {
    padding-top: 3px;
  }

}

.calc-result-table__item_view_material-cost {

  padding-top: 11px;
  padding-bottom: 18px;

  .calc-result-table__item-label {
    line-height: 14px;
  }

  .calc-result-table__item-value {

    padding-top: 5px;

    .text_style_benefits {
      font-size: 14px;
    }

  }

}

.calc-result-table__item_view_material-service-cost {

  padding-top: 8px;
  padding-bottom: 14px;

  .calc-result-table__item-label {
    line-height: 14px;

    br {
      display: none;
    }
  }

  .calc-result-table__item-value {

    padding-top: 5px;

    .text_style_benefits {
      font-size: 14px;
    }

  }

}

// Form submit block

.calc-result-submit {
  padding: 30px 0 41px 0;
  background-color: $plank-color-three;
  border: 1px solid $plank-color-two;
  border-width: 0 1px;
}

.calc-result-submit__button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
}

.calc-result-submit__button span {
  display: none;
}

// Form promo

.calc-result-promo {
  background-color: $plank-color-three;
  border: 1px solid $plank-color-two;
  border-width: 0 1px 1px 1px;
  padding: 0 11px 38px;
}

.calc-result-promo__content {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.calc-result-promo-item {
  display: inline-flex;
  width: 100%;
  background-color: $plank-color-one;
  color: white;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 0 106px;
  min-height: 100px;

  .text_style_mini-block-two {
    color: white;
  }

}

.calc-result-promo-item__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 106px;
  height: 100%;
}

.calc-result-promo-item__img {
  max-width: 60px;
}

.calc-result-promo-item__text-wrap {
  display: block;
  width: 100%;
  padding: 26px 10px 10px 0;
}

.calc-result-promo-item_one-day .calc-result-promo-item__text-wrap {
  padding-top: 24px;
}

.calc-result-promo-item_guaranty .calc-result-promo-item__text-wrap {
  padding-top: 31px;
}

// Calc table drop-down button

.calc-drop-down-btn-wrap {
  position: relative;
}

.calc-drop-down-btn {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid $plank-color-four;
  cursor: pointer;
  margin: 0 0 0 0;
  position: relative;
}

.calc-drop-down-btn__icon {
  display: block;
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url("../img/table-drop-down-ico.png");
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -5px;
}

.calc-drop-down-btn_active .calc-drop-down-btn__icon {
  transform: rotate(180deg);
}

// Calc table drop-down BLOCK

.calc-drop-down-block {
  padding: 14px 0 0 0;
}

.table-calc-item {
  margin: 0 0 20px 0;
}

.table-calc-item:last-child {
  margin: 0 0 3px 0;
}

.table-calc-item__head .calc-result-table__item-label,
.table-calc-item__total .calc-result-table__item-label {
  font-family: "Arial Black", sans-serif;
  color: $main-text-color;
}

.table-calc-item__detail .calc-result-table__item-label {
  color: $main-text-color;
  flex-wrap: wrap;
}

.table-calc-item__detail .table-calc-item-detail__count,
.table-calc-item-detail__count {
  color: $lighten-text-color;
  width: 100%;
}


// More works slider

.works {
  margin-bottom: 13px;
}

.works-slider-controls {

  position: relative;

  .slick-prev, .slick-next {
    background: $plank-color-two;
    color: transparent;
    width: 40px;
    height: 40px;
    z-index: 5;
    top: 48px;

    &:before {
      display: none;
    }

  }

  .slick-prev {
    left: 0;

    background-image: url("../img/slider-left-arrow.png");
    background-size: 100% 100%;

  }

  .slick-next {
    right: 0;

    background-image: url("../img/slider-right-arrow.png");
    background-size: 100% 100%;

  }

  .slick-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .slick-slide.slick-current {
    opacity: 1;
  }

}

.works-item {
  display: block;
  text-align: center;
}

.works-item__inner {
  display: inline-block;
  vertical-align: top;
  width: 162px;
  cursor: pointer;
}

.works-item__img-wrap {
  width: 100%;
  text-align: center;
}

.works-item__img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  margin: 0 auto;
}

.works-item__text-wrap {
  text-align: left;
}

.works-item__car-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.works-item__noise-insulation-level {
  margin-bottom: 12px;
}

.works-item__rating {
  text-align: left;
}

.works-item__rate-star {
  width: 7px;
  height: 7px;
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/rate-star.png");
  background-size: 100% 100%;
  margin-right: 5px;
}

// bottom-page-info

.bottom-page-info {
  margin-bottom: 62px;
}

.bottom-page-info__button {
  min-width: 200px;
  display: block;
  margin: 0 auto;
}














