@import "template-variables";

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot);
  src: url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix&v=4.7.0) format("embedded-opentype"),
  url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff) format("woff"),
  url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot);
  src: url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix&v=4.7.0) format("embedded-opentype"),
  url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff) format("woff"),
  url(./fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url(./fonts/MyriadPro/MyriadPro-Regular.eot);
  src: url(./fonts/MyriadPro/MyriadPro-Regular.eot?#iefix&v=4.7.0) format("embedded-opentype"),
  url(./fonts/MyriadPro/MyriadPro-Regular.woff) format("woff"),
  url(./fonts/MyriadPro/MyriadPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $main-text-color;
  min-height: 5000px;
}

label {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 10px;
}

.container_padding_zero {
  padding: 0;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a:hover {
  color: $link-text-color;
}

.page-title {
  margin: 0 0 36px 0;
}

.user-redactor-content {
  line-height: 24px;
  text-align: left;
  @include text_style_main;
  margin: 0 0 26px 0;

  p {
    margin: 0 0 10px 0;
  }

}

.search-button {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 22px;
  background-image: url("../img/search-icon-mobile.png");
  background-size: 20px 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button {
  display: inline-block;
  vertical-align: top;
  font-family: "Arial";
  font-size: 14px;
  color: #364556;
  margin: 0;
  padding: 10px 18px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background-color: #DEE2E7;
  border-width: 0;
  border-radius: 4px;
  word-wrap: break-word;
  min-width: 217px;
}

.button:hover {
  background-color: #EAC853;
}

.button_style_lighten {
  background-color: #748A9D;
  color: white;
}

.button_style_yellow {
  background-color: #E4B820;
  color: white;
  min-width: 217px;
}

.button_style_darken {
  background-color: #364556;
  color: white;
  min-width: 217px;
}

@media (min-width: $tmpl-screen-sm) {
  .search-button {
    width: 15px;
    height: 17px;
    background-image: url("../img/search-icon-desktop.png");
    background-size: 15px 17px;
  }

  .search-button {
    width: 15px;
    height: 17px;
    background-image: url("../img/search-icon-desktop.png");
  }

  .container {
    padding: 0;
  }

  .page-title {
    margin: 0 0 42px 0;
  }

}

@media (min-width: $tmpl-screen-md) {

  .button,
  .button_style_lighten {
    min-width: 1px;
  }

  .button_style_yellow,
  .button_style_darken {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 217px;
  }

  .page-title {
    margin: 0 0 47px 0;
  }

  .user-redactor-content {
    line-height: 27px;
    font-size: 14px;
  }

}

@media (min-width: $tmpl-screen-lg) {

  .page-title {
    margin: 0 0 68px 0;
  }

  .user-redactor-content {
    line-height: 28px;
  }

}

@media (min-width: $tmpl-screen-xl) {

}








