@import "template-variables";

header {
  padding: 0;
  margin: 0 0 70px 0;
}

.header-top-line {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: stretch;
  margin: 0 0 21px 0;
  position: relative;
}

.header-top-line__search-button {
  padding: 25px 0 10px 0;
}

.header-top-menu {
  display: inline-flex;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-top-menu>li {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.header-top-menu>li>a {
  display: block;
  padding: 8px 18px;
  @include text_style_additional;
}

.header-info-line {
  margin: 0 0 23px 0;
  background-color: #F8F9FA;
  height: 70px;
  position: relative;
  padding: 0 10px;
}

// Logo

.header-info-line__mobile-item {
  text-align: center;
  height: 70px;
  display: flex;
  text-decoration: none;
  color: transparent;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  display: flex;
  text-decoration: none;
  color: transparent;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.header-logo-link__img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 126px;
}

// Slogan

.header-slogan {
  display: block;
  width: 100%;
  word-wrap: break-word;
  padding: 0 20px 0 0;
  font-size: 11px;
  line-height: 16px;
  @include text_style_main;
}

// Contact info

.header-contact-info__phone {

}

.header-contact-info-work-days {
  line-height: 14px;
}

.header-contact-info-work-days__item {
  display: inline-block;
  vertical-align: baseline;
}

// Get call button

.header-get-call__button {
  min-width: 1px;
  width: 100%;
}

@media (min-width: $tmpl-screen-md) {
  .header-get-call__button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $tmpl-screen-lg) {
  .header-get-call__button {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

// Main menu

.header-menu-line {
  padding: 0 44px;
  background-color: #EAEDF0;
}

.header-main-menu {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #EAEDF0;
  padding: 20px 0;
}

.header-main-menu>li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

.header-main-menu>li>a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  @include text_style_benefits;
  text-align: center;
  font-size: 9px;

  &:hover {
    color: $lighten-text-color;
    text-decoration: none;
  }

  &.active {
    color: $link-text-color;
  }

}

.phone-button {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-image: url(../img/phone-icon-mobile.png);
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobile-menu-button {
  width: 40px;
  height: 40px;
  background-color: #E4B820;
  cursor: pointer;
}

// Mobile menu button

.mobile-menu-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mobile-menu-button-no-active__inner {
  display: block;
  width: 16px;
}

.mobile-menu-button-no-active__item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 0 0 4px 0;
}

.mobile-menu-button-no-active__item:last-child {
  margin: 0;
}

.mobile-menu-button-active {
  display: none;
  width: 12px;
  height: 12px;
  background-image: url("../img/mobile-btn-cross-icon.png");
  background-size: 100% 100%;
}

.mobile-menu-button.is-active {

  .mobile-menu-button-no-active {
    display: none;
  }

  .mobile-menu-button-active {
    display: block;
  }

}

// Mobile menus

.header-mobile-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: 10px;
  width: calc(92% + 1px);
  background-color: #EAEDF0;
}

.header-mobile-menu-info {
  background-color: #E4B820;
  padding: 22px 0 15px 50px;
}

.header-mobile-menu-info__phone {
  font-size: 13px;
  color: white;
  padding: 0 0 4px 0;
}

.header-mobile-menu-info__contact-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 0 4px 0;
}

.header-mobile-menu-info__contact-link:hover {
  color: white;
  text-decoration: none;
}

.header-mobile-menu-lists {
  padding: 19px 15px 15px 50px;
  background-color: #EAEDF0;
}

.header-mobile-menu-lists__main-menu {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #EAEDF0;
}

.header-mobile-menu-lists__main-menu>li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  width: 100%;
  margin: 0 0 17px 0;

  &:last-child {
    margin: 0 0 5px 0;
  }

}


.header-mobile-menu-lists__main-menu>li>a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  @include text_style_benefits;
  font-size: 11px;
  text-align: left;

  &:hover {
    color: $lighten-text-color;
    text-decoration: none;
  }

  &.active {
    color: $link-text-color;
  }

}

.header-mobile-menu-lists__bottom-menu {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-mobile-menu-lists__bottom-menu>li {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  width: 100%;
  text-align: left;
}

.header-mobile-menu-lists__bottom-menu>li>a {
  display: block;
  padding: 13px 0 0 1px;
  @include text_style_additional;
  color: #364556;
  font-size: 14px;
}

// Search form

.top-search-form {
  display: none;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  background-color: #748A9D;
  z-index: 5;
  padding: 15px 50px 0 16px;
  top: 10px;
  left: 10px;
}

.top-search-form__input {
  display: block;
  -webkit-appearance: none;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  background-color: transparent;
  width: 100%;
  font-size: 14px;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::placeholder {
    color: transparent;
  }
}

.top-search-form__input-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.top-search-form__input-placeholder {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 14px;
  white-space: nowrap;
}

.top-search-form__button {
  display: block;
  position: absolute;
  bottom: 15px;
  top: 0;
  right: 0;
  z-index: 3;
  border-width: 0;
  width: 49px;
  height: 50px;
  background-image: url("../img/search-form-button-mobile.png");
  background-size: 100% 100%;
  cursor: pointer;
  padding: 0;
}

.top-search-form__button:focus {
  box-shadow: none;
  outline: none;
}
