$tmpl-screen-xs: 0;
$tmpl-screen-sm: 768px;
$tmpl-screen-md: 1000px;
$tmpl-screen-lg: 1200px;
$tmpl-screen-xl: 1900px;

$main-text-color: #364556;
$lighten-text-color: #8CA4B8;
$link-text-color: #D9A300;

$plank-color-one:   #364556;
$plank-color-two:   #EAEDF0;
$plank-color-three: #F4F6F7;
$plank-color-four:  #E4B820;
$plank-color-five:  #748A9D;
$plank-color-six:   #DEE2E7;

// Mixins

@mixin text_style_additional {
  font-family: "Arial";
  color: $lighten-text-color;
  font-size: 12px;
}

@mixin text_style_main {
  font-family: "Arial";
  color: $main-text-color;
  font-size: 12px;
}

@mixin text_style_benefits {
  font-family: "Arial Black";
  color: $main-text-color;
  font-size: 12px;
}

@mixin reset_external_shadows {
  outline: none !important;
  box-shadow: none !important;
}